* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

.container {
    background: linear-gradient(to right top, #3c629d, #002f5a);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}
